{% extends "bootstrap/base.html" %}
{% block title %}Edit Menu Item{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="container">
	<h1>Edit Menu Item</h1>

	<form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=item.id )}}" method = 'POST'>

	<p>Name:

	<input type='text' size='30' name='name' value='{{item.name}}'>
	</p>
	<p>Price ($):

	<input type='text' size='6' name='price' value='{{item.price}}'>
	</p>
	<p>Description:

	<input type='text' size='50' name='description' value='{{item.description}}'>
	</p>
	<input type='submit' value='Update'>

	<a href='{{url_for('restaurantMenu', restaurant_id = restaurant_id)}}'>Cancel</a>

	</form>
</div>
{% endblock %}
