{% extends "bootstrap/base.html" %}
{% block title %}{{restaurant.name}}{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="container">
	<h1>{{restaurant.name}}</h1>

	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{%for message in messages %}
			<li><strong>{{message}}</strong></li>
		{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}

	<a class="btn btn-primary" href="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}" role="button"><span class="glyphicon glyphicon-plus"></span> New Item</a>

	{% for i in items %}

		<div>

		<p>{{i.name}}</p>
		<p>{{i.description}}</p>
		<p>${{i.price}}</p>

		<p>

		<a class="btn btn-primary" href="{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}" role="button"><span class="glyphicon glyphicon-edit"></span> Edit</a>
		<a class="btn btn-danger" href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}" role="button"><span class="glyphicon glyphicon-remove"></span> Delete</a>
		</p>

		</div>

	{% endfor %}
</div>
{% endblock %}
