{% extends "bootstrap/base.html" %}
{% block title %}New Menu Item{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="container">
	<h1>New Menu Item</h1>

	<form action="{{url_for('newMenuItem', restaurant_id=restaurant_id )}}" method = 'POST'>
	  <div class="form-group">
	    <label for="itemName">Name</label>
	    <input name='name' class="form-control" placeholder="Name">
	  </div>
	  <div class="form-group">

	    <label for="itemPrice">Price</label>
	    <div class="input-group">
		    <div class="input-group-addon">$</div>
		    <input name='price' class="form-control" placeholder="Price">
		</div>
	  </div>
	  <div class="form-group">
	    <label for="itemDescription">Description</label>
	    <textarea name='description' class="form-control" rows="3" placeholder="Description"></textarea>
	  </div>

	  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Create</button>
	</form>

</div>
{% endblock %}
